<article
  class="relative group flex rounded-md max-w-sm flex-col overflow-hidden border border-neutral-300 bg-neutral-50 text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300"
>
  <div class="relative h-80 w-60 md:h-[216.6px] overflow-hidden">
    {{{ await $slots.image() }}}
  </div>
  {{{ await $slots.main() }}}
</article>
