@layout.main()
  <div
    style="background-image: linear-gradient(to top, var(--tw-gradient-stops)), url('{{ app.background }}');"
    class="opacity-40 absolute w-full h-screen from-gray-900 bg-cover"
  >
  </div>
  <section class="flex flex-col mt-10 gap-28">
    @include('pages/apps/partials/app_summary')
    @include('pages/apps/partials/app_details')
  </section>
@end
