<!DOCTYPE html>
<html>
<head>
  @include('partials/meta')
</head>

<body>
  <h1>{{ app.name }}</h1>
  <p>{{ app.steamAppid }}</p>
  <p>{{ app.shortDescription }}</p>
  <div>
    {{ app.detailedDescription }}
  </div>

</body>

</html>
