<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      WebProject
    </title>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-gray-900">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tigh text-white">Sign in to your account</h2>
      </div>

      <div class="overflow-x-auto sm:mx-auto">
        <table
          class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm dark:divide-gray-700 dark:bg-gray-900"
        >
          <thead class="ltr:text-left rtl:text-right">
            <tr>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">Name</th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">
                email
              </th>
              <th class="px-4 py-2"></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            @each(user in users)
              <tr>
                <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">
                  {{ user.fullName }}
                </td>
                <td class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">{{ user.email }}</td>
                <td class="whitespace-nowrap px-4 py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    View
                  </a>
                </td>
              </tr>
            @end
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
