<!DOCTYPE html>
<html>

<head>
  @include('components/layout/partials/meta')
</head>

<body>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-gray-900">
    @include('components/layout/partials/header')

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

    </div>
  </div>
</body>

</html>
